spacy==3.8.11
pymusas==0.3.0
pandas==2.3.3
datasets==4.4.2
tqdm==4.67.1
requests==2.32.5
openpyxl==3.1.5
nltk==3.9.2
https://github.com/UCREL/pymusas-models/releases/download/en_dual_none_contextual-0.3.1/en_dual_none_contextual-0.3.1-py3-none-any.whl
